<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Invoice</title>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,400italic,600,600italic,700italic,700,800,800italic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="normalize.css">
	<link rel="stylesheet" href="foundation.min.css">
	<link rel="stylesheet" href="style.css">
</head>
<body>


<div >

	<div class="header row">

		<div class="large-5 medium-8 small-12 columns">
			<img src="images/logo.png">
		</div>
		
		<div class="large-2 medium-12 small-12 large-offset-1 columns">
			<div class="header-contact">
				<img class="icon-mail" src="images/mail.png">
				<p>info@companyname.com<br>
					careers@companyname.com<br>
					jobs@companyname.com</p>
			</div>
		</div>

		<div class="large-2 medium-12 small-12 columns">
			<div class="header-contact">
				<img class="icon-telephone" src="images/phone.png">
				<p>+44(0) 131 1234 1234<br>
					Monday to Friday<br>
					9am to 5pm lines are open</p>
			</div>
		</div>

		<div class="large-2 medium-12 small-12 columns">
			<div class="header-contact" style="border-right:none;">
				<img class="icon-web" src="images/world.png">
				<p>www.companywebsite.com</p>
			</div>
		</div>

	</div><!--header-->


	<div class="header-bottom row">

		<div class="large-6 medium-6 columns header-bottom-left">
			
			<h3><img class="icon-invoice" src="images/invoice.png"></i>INVOICE TO</h3>	
			<h2>STEVEN COLE</h2>
			<p style="margin-bottom:10px;line-height:22px;">256 highlang garden, london<br>
				SW1234, United Kingdom</p>

			<p style="margin-bottom:10px;"><img class="icon-mail" src="images/mail.png"></i>steven.cole@mywebsite.com</p>
			<p><img class="icon-mobile" src="images/mobile.png"></i>012312 23232</p>

		</div>

		<div class="large-6 medium-6 columns invoice-header">

			<h1>INVOICE</h1>

			<table>
				<thead>
					<tr>
						<td><div class="circle"><img class="icon-dollar" src="images/dollar.png"></div></td>
						<td><div class="circle"><img class="icon-calendar" src="images/calendar.png"></div></td>
						<td><div class="circle" style="padding-top:20px;"><img class="icon-barcode" src="images/barcode.png"></div></td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							Total Due:<br>
							<strong>$2624.28</strong>
						</td>
						<td>
							Invoice Date:<br>
							<strong>22 March 2012</strong>
						</td>
						<td>
							Invoice #:<br>
							<strong>2144877</strong>
						</td>
					</tr>
				</tbody>
			</table>

		</div>

	</div><!--header-bottom-->


	<div class="row">
		<div class="large-12 columns">
			<table class="products-table">
				<thead>
					<tr>
						<th>Item Description</th>
						<th>Unit Price</th>
						<th>Quantity</th>
						<th>Total</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<h5>Web Design</h5>
							<p>An affordable website solution that provides everything a company needs<br>
 for a professional online presence.</p>
						</td>
						<td>$599.00</td>
						<td>2</td>
						<td>$1198.00</td>
					</tr>
					<tr>
						<td>
							<h5>E-Book Design</h5>
							<p>E-Book design which includes interface designing, charcter design, <br>
deployment and upload on the server.</p>
						</td>
						<td>$390.00</td>
						<td>1</td>
						<td>$390.00</td>
					</tr>
					<tr>
						<td>
							<h5>Hosting Plan</h5>
							<p>One years hosting plan which includes 2 free email
ddresses, Free live support.</p>
						</td>
						<td>$114.00</td>
						<td>1</td>
						<td>$114.00</td>
					</tr>
					<tr>
						<td>
							<h5>Brochure Design</h5>
							<p>Brochure design in Green and red color for international Film festival<br>
 New york November 2012.</p>
						</td>
						<td>$200.00</td>
						<td>3</td>
						<td>$600.00</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>


	<div class="row">
		<div class="large-5 medium-5 small-12 columns bottom-left show-for-medium-up ">
			<table>
				<thead>
					<tr>
						<th><strong>Payment Method:</strong> Cheque, Paypal, BACS, Western Union.</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><p><strong>payments@websitename.com</strong></p>
						</td>
					</tr>
					<tr>
						<td>
							<img class="icon-cc" src="images/cc.png">
							<p><strong>Card Payment</strong></p>
							<p>We Accept:</p>
							<p>Visa, Master card, American Express</p>
						</td>
					</tr>
					<tr>
						<td><p>
					  <strong>Active Interactive</strong><br>
								256 highland garden,<br>
								london SW1235,<br>
								United Kingdom
							</p>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="large-4 medium-6 small-12 large-offset-3 columns totals">
			<table>
				<tbody>
					<tr>
						<td>SUB TOTAL:</td>
						<td>$2302.00</td>
					</tr>
					<tr>
						<td>Tax: VAT 20%</td>
						<td>$460.40</td>
					</tr>
					<tr class="discount">
						<td><span>DISCOUNT 5%:</span></td>
						<td><span>-$138.12</span></td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td>Total Due:</td>
						<td>$4278.00</td>
					</tr>
				</tfoot>
			</table>
			<div class="signature">
				<img class="icon-signature" src="images/sign.png">
				<p>Terry Brown</p>
				<p><strong>Accounts Manager</strong></p>
			</div>
		</div>
	</div>
    
    <!--This section enables for smaller screens and phones-->
	<div class="large-5 medium-5 small-12 columns bottom-left show-for-small-only">
		<table>
			<thead>
				<tr>
					<th><strong>Payment Method:</strong> Cheque, Paypal, BACS, Western Union.</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><p><strong>payments@websitename.com</strong></p>
					</td>
				</tr>
				<tr>
					<td>
						<img class="icon-cc" src="images/cc.png">
						<p><strong>Card Payment</strong></p>
						<p>We Accept:</p>
						<p>Visa, Master card, American Express</p>
					</td>
				</tr>
				<tr>
					<td><p>
				  <strong>Active Interactive</strong><br>
							256 highland garden,<br>
							london SW1235,<br>
							United Kingdom
						</p>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="row terms">
		<div class="large-12 columns">
			<p><strong>Terms:</strong> Payment should be made within 30 days by cheque, western union money transfer or phone us.</p>
		</div>
	</div>

	<div class="footer row">
		<div class="large-5 medium-3 columns">
			<img src="images/footer-logo.png">
		</div>
		<div class="large-2 medium-3 large-offset-1 columns">
			<p>+44(0) 131 1234 1234<br>
				Monday to Friday<br>
				9am to 5pm lines are open</p>
		</div>

		<div class="large-2 medium-3 columns">
			<p>+44(0) 123 1231 1234</p>
		</div>

		<div class="large-2 medium-3 columns">
			<p style="border:none;">www.companywebsite.com</p>
		</div>
	</div>

</div><!--screen-->





</body>
</html>